.demo-content, 
.demo-content td{
    border: 1px solid black;
    border-collapse: collapse;
}

.table.content{
    width: 100%;
}
.left-side{
    width: 30%; 
}
.img-demo{
    width: 100%;
    height: 100%;
    border: 1px solid red;
}
